<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript</title>
    <link rel="stylesheet" href="/static/aanwezigheid.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
</head>
<body>


<label for="studentnummer">Studentnummer:</label> <input type="text" id="studentnummer" name="studentnummer"><br>
<label for="name">Name:</label><input type="text" id="name" name="name"><br>
<label for="vraag">Stel een vraag:<input type="textarea" id="vraag"></label><br>
<button type="submit" onclick="post_aanwezigheid()">Submit</button>

<script>
    function post_aanwezigheid() {

        const firstname = document.getElementById("name").value;
        const studentnummer = document.getElementById("studentnummer").value;
        const vraag = document.getElementById("vraag").value;
        
        const dict_values = {firstname, studentnummer, vraag} //Pass the javascript variables to a dictionary.
         // Stringify converts a JavaScript object or value to a JSON string
        console.log(dict_values); // Prints the variables to console window, which are in the JSON format
        window.alert(dict_values)
        $.ajax({
            url:"/aanwezigheidpost/{{lesid}}",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(dict_values),
            succes: function(result){
                console.log(result)
            },
        });

}

</script>


</body>
</html>