<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript</title>
    <link rel="stylesheet" href="/static/aanwezigheid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
{% include 'header.html' %}


<div id="aanwezigform">
<img src="/static/images/HRbackground.jpg" alt="hrlogo" width="250" height="150"><br><br>
<h3>Login student!</h3>
<label for="studentnummer">Studentnummer:</label><br><input type="number" id="studentnummer" name="studentnummer" ><br>
<label for="name">Naam:</label><br><input type="text" id="name" name="name"><br>
<label for="vraag">{{ content[2] }} <br><textarea id="vraag" name="vraag"></textarea></label><br>
<button type="submit" onclick="post_aanwezigheid()">Submit</button>
</div>
<!-- Functie gemaakt door Bryan en aangepast door Wouter-->
<script>
    function post_aanwezigheid() {

        const firstname = document.getElementById("name").value;
        const studentnummer = document.getElementById("studentnummer").value;
        const vraag = document.getElementById("vraag").value;
        const lesid = {{lesid}};
        console.log(firstname, studentnummer, vraag, lesid)

        const dict_values = {firstname, studentnummer, vraag, lesid} //Pass the javascript variables to a dictionary.
        const s = JSON.stringify(dict_values); // Stringify converts a JavaScript object or value to a JSON string
        console.log(s); // Prints the variables to console window, which are in the JSON format
        //window.alert(s)

        $.ajax({
            url:"/aanwezigheidpost/{{lesid}}",
            type:"POST",
            contentType: "application/json",
            data: s, // <-- Hier zat een fout
            // Hier stond "data: JSON.stringify(s)"
            // En omdat je al in regel 40 stringify hebt gebruikt, is het niet nodig om het nog een keer te doen.
            dataType: "json",
            success: function (data) {
                console.log(data)
            },
            error: function (errMsg) {
                console.log(errMsg)
            }
            
        });
        alert("Uw aanwezigheid is geregistreerd!")
}

</script>


</body>
</html>