<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leerlingen aanwezigheid</title>
    <link rel="stylesheet" href="/static/heroes.css" type="text/css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<style>
    .h1, .h2, .h3, h1, h2, h3,h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25%;
}
form {
    margin-left: 18%;
    margin-top: 1vh;
}
input[type="submit"] {
    margin-left: 9%;
}
</style>
<body>
<div class="container-fluid">
    {% include 'sidebar.html' %}
</div>
<form action="/leerlingen_lijst" method="post">
    <label for="naam">Naam:</label>
    <input type="text" name="naam" placeholder="naam">
    <input type="submit" value="zoeken!">
</form>

<!-- loop over all students -->
{% for student in students %}
    <hr>
    <h1>{{ student[0] }}</h1>
    <h2>{{ student[1] }}</h2>
    <h3>{{ student[2] }}</h3>
    <h4>{{ student[3] }}</h4>
    <form action="/leerling_details/{{ student[0] }}" method="post">
        <input type="submit" value="Details">
    </form>
{% endfor %}
<hr>


{% include 'header.html' %}

</body>
</html>