<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Deze pagina laat zien waar al de klas aanwezig moest zijn -->
<!-- Dus, in de les staat welke klas de les is voor en die laten we zien -->
<!-- Dan kunnen we daarvan kijken of de student is ingeschreven. -->
<p>Je leerlingenid is {{ studentid }}.</p>

<!--
Deze query moeten we gebruiken om de aanwezigheid op te halen
SELECT student.student_id, student.voornaam, CASE WHEN aanwezigheid.student_id IS NULL THEN 'Absent' ELSE 'Present' END AS attendance_status
FROM student, les
LEFT JOIN aanwezigheid ON student.student_id = aanwezigheid.student_id
WHERE les.les_naam = 'Werkplaats' and les.start_date = '2019-01-01';
-->

</body>
</html>