<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Deze pagina laat zien waar al de klas aanwezig moest zijn -->
<!-- Dus, in de les staat welke klas de les is voor en die laten we zien -->
<!-- Dan kunnen we daarvan kijken of de student is ingeschreven. -->
<p>Je leerlingenid is {{ studentid }}.</p>
{% for aanwezigheid in aanwezigheid %}
    <h1> Aanwezigheid id is {{ aanwezigheid[0] }}</h1>
    <h1> les is {{ aanwezigheid[4] }}</h1>
{% endfor %}

</body>
</html>