 <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Les aanmaken</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/heroes.css" type="text/css">
      <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
      <link rel="stylesheet" href="/static/login.css" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/les.css" type="text/css">
      
  </head>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
<style>
.container-fluid{
  display:;
}
 </style> 
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </header>

  <body>
    {% include 'sidebar.html' %}
  <div class="container-fluid" style="border-radius: 7px; background-color: #f2f2f2; padding: 50px;">
   
        <h1>Les aanmaken</h1>
      <div class="form-floating">
       <label>Naam van de les:</label>
       <input type="text" name="les_naam" id="les_naam" required>
      </div>
      <div class="form-floating">
       <label>Klas:</label>
       <select name="klas_id_select" id="klas_id_select" class="update">
    
        {% for naam_les in klas %}
      
            <option value= "{{ naam_les }}" id="klas_id" name="klas_id">{{ naam_les }}</option>
            
        {% endfor %}
        </select>
      </div>
      <div class="form-floating">
       <label>Lokaal:</label>
       <input type="text" name="lokaal" id="lokaal">
      </div>
      <div class="form-floating">
        <label>Begin datum en tijd:</label>
       <input type="datetime-local" id="start_date" name="start_date">
      </div>
      <div class="form-floating">
       <label>Eind datum en tijd:</label>
       <input type="datetime-local" id="end_date" name="end_date">
      </div>
       <input type="submit" name="next" value="Les toevoegen" onclick="submitLesInfo();">
   
       
      </div>
  </div>
  <script type="application/javascript">

// store all values from the input fields in a variable(Danny)
function submitLesInfo() {
  var klas_id = $('#klas_id_select').find(":selected").val();

  var les_naam = document.getElementById("les_naam").value;
  var lokaal = document.getElementById("lokaal").value;
  
  var start_date = document.getElementById("start_date").value;
  var start_date = start_date.replace("T", " ");
  var end_date = document.getElementById("end_date").value;
  var end_date = end_date.replace("T", " ");

  // store all values in an array(Danny)
  var server_data = [
    
    klas_id,
    les_naam,
    lokaal,
    start_date,
    end_date
    
  ] ;
   
  console.log(server_data)
// send the array to app.py function to store in the database(Danny)

  $.ajax({
  type: "POST",
  url: "/les_aanmaken_post",
  data: JSON.stringify(server_data),
  contentType: "application/json",
  dataType: 'json',
  success: function(result) {
    
    console.log("alle data" , server_data);
  
  } 
});
window.location.href = "/admin";

  }


  </script>

  {% include 'header.html' %}

</body>

</html>

<script type="application/javascript">
  
</script>

