<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Deze librarys gaan we gebruiken voor het maken van de QR code -->
    <!-- website: https://code-boxx.com/generate-qr-code-javascript/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.js" integrity="sha512-is1ls2rgwpFZyixqKFEExPHVUUL+pPkBEPw47s/6NDQ4n1m6T/ySeDW3p54jp45z2EJ0RSOgilqee1WhtelXfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.9.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

<p> Dit is de pagina waarop de qr code komt te staan</p>
<div id="qrcode"></div>
<a href="/aanwezigheid/{{lesid}}">{{ lesid }}</a><br>
<form action="/aanwezigheid/{{lesid}}" method="post">
    <textarea name="vraag" id="vraag" class="vraag"></textarea>
</form>
<a href="/admin">terug</a>

<div id="Resultaten">

</div>

<script>
    var qrcode = new QRCode("qrcode", {
        text: "{{ lesid }}",
        width: 128,
        height: 128,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
</script>
<!-- Hier gaan we de studenten ophalen die aanwezig zijn -->
<script type="application/javascript">
    $(document).ready(function () {
        function get_aanwezige_studenten() {
            $.ajax({
                url: '/getleerlingen/{{lesid}}',
                type: 'GET',
                dataType: 'json',
                error: function (data) {
                    console.log("error" + data)
                },
                success: function (results) {
                    console.log(results)

                    $('#Resultaten').empty()
                    for (leerling of results) {
                        $('#Resultaten').append('<p>' + leerling[2] + ' ' + leerling[3] + ' ' + leerling[1] + ' ' + leerling[0] + '</p>')
                    }
                }
            })
        }

        // Dit is de functie die de vraag ophaalt als er iets word ingevuld in de textarea en stuurt het door naar de backend (Wouter)
        $('#vraag').on('input', function () {
            // get the question of the lesson
            console.log("vraag")
            vraag = $('#vraag').val()
            console.log(vraag)
            $.ajax({
                url: '/vraagles/{{lesid}}',
                type: 'POST',
                dataType: 'json',
                data: {
                    'vraag': vraag
                },
                error: function (data) {
                    console.log("error" + data)
                },
                success: function (results) {
                    console.log(results)
                }
            })
        })

        setInterval(get_aanwezige_studenten, 1000)
    })
</script>

</body>
</html>