<link rel="stylesheet" href="/static/header.css" type="text/css">

<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file" class="align-text-bottom"></span>
              Aanwezigheid aanpassen
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/les-aanmaken">
              <span data-feather="aanwezigheid" class="align-text-bottom"></span>
              Les aanmaken
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leerlingen_lijst">
              <span data-feather="aanwezigheid" class="align-text-bottom"></span>
                lijst van leerlingen
            </a>
          </li>

        </ul>


      </div>
    </nav>

  </div>